.wrapper{
	overflow: hidden;
}
header{
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}
header .form-group,
header .btn{
	margin: 10px 0;
}
.register .col-sm-5{
	background: #ECECEC;
	margin-top: 50px;
	padding-bottom: 30px;
}
.register .col-sm-5 h2{
	margin-bottom: 30px;
}
.wrapper .img-thumbnail{
	display: block !important;
}

.container.alert{
	margin-top: 20px;
	margin-bottom: -10px;
}
.table ul{
	margin:0 auto;
	width: 80px;
}
.table ul li{
	text-decoration: none;
	list-style:none;
	float: left;
	margin-right: 15px;
}