@charset "UTF-8";
/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video, input[type=text], input[type=submit],input[type=password] {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
input{
	outline: none !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	vertical-align: bottom;
}
body{
	background: #000 !important;
	padding: 1px;
	font-family: arial;
}
a{
	color: #000;
	text-decoration: none !important;
}
/* clearfix */
.clearfix {
	zoom: 1;
	/* overflow: hidden; */
	/* height:100% */
}
.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}


/*===========================================
WRAPPER
===========================================*/
#wrapper{
	position: relative;
	display: block;
}
/*===========================================
SIDEBAR
===========================================*/
#sidebar{
	width: 300px;
	border-right: 2px solid #000;
	sposition: fixed;
	left: 0px;
	top: 0px;
	background: url(../img/blue_bg.jpg) top left repeat;
	overflow: hidden;
	z-index: 100;
}
#sidebar .logo{
	text-align: center;
	padding: 20px 0 10px 0;
}
#sidebar .line{
	padding: 18px 0;
}
#sidebar .rest_total{
	border: 1px solid #2E2E2E;
	background: url(../img/resLog_bg.png) top left repeat;
	width: 260px;
	margin: 0 auto;
	padding: 10px;
}
#sidebar .rest_total .txt1{
	color: #CECECE;
	font-size: 14px;
}#sidebar .rest_total .txt2{
	color: #CECECE;
	font-size: 45px;
	text-align: center;
	padding: 5px 0 0 0;
	word-wrap:break-word;
}

/* SIDEBAR NAVIGATION */
#dashNav li a{
	border-bottom: 1px solid #2c3238;
	padding: 14px 0 14px 20px;
	width: 280px;
	display: block;
}
#dashNav li.nav1 a{
	border-top: 1px solid #2c3238;
}
#dashNav li a:hover{
	background: url(../img/dashNav_bg_on.png) top left repeat;
	cursor: pointer;
}
#dashNav .navOn{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .dashboard{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .navOn_notification{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .restaurant{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .navOn_food{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .navOn_coupon{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .navOn_advertisement{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
#dashNav .navOn_administrator{
	background: url(../img/dashNav_bg_on.png) top left repeat;
}
/*===========================================
main body
===========================================*/
#main_body{
	position: relative;
	left: 300px;
	top: 0px;
	border-bottom: 1px solid #7C7B7B;
	border-left: 1px solid #7C7B7B;
	border-right: 1px solid #7C7B7B;
	z-index: 0;
	background: url(../img/white_bg.jpg) top left repeat;
}
/*===========================================
TOP CONTENT
===========================================*/
#main_body .top{
	padding: 10px 15px 10px 20px;
	background: url(../img/blue_bg.jpg) top left repeat;
	position: relative;
	
}
#main_body .top .searchBox{
	float: left;
	width: 80%;
}
#main_body .top .searchIcon{
	border: 1px solid #6D6666;
	background: #2A333F;
	padding: 7px;
	position: absolute;
	top: 11px;
	left: 20px;
	color: #aaa9a9;
	
	border-radius: 6px;
		-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
				-o-border-radius: 6px;
}
#main_body .top .searchBox .txtbox{
	margin: 0 0 0 35px;
}

#main_body .top .searchBox .txtbox input{
	background: #252e34;
	padding: 8px 40px 8px 13px;
	color: #aaa9a9;
	width: 58%;
	font-size: 14px;
	border: 1px solid #414D5A;
	
	border-radius: 4px;
		-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
				-o-border-radius: 4px;
}
#main_body .top .users{
	float: right;	
	color: #083852;
	position: relative;
}
#main_body .top .user-icon{
	padding: 5px 8px;
	background: #EBECEC;
	border: 1px solid #4B606B;
	border-radius: 5px;
	position: relative;
	z-index:0;	
}
#main_body .top .users i{
	font-size: 19px;
	
}
#main_body .top .wrapper{
	position: absolute;
	top: 0;
	right: 0;
	z-index:100;
	padding: 45px 0 0 0;
	display: none;
	
}
#main_body .top .wrapper .img{
	position: absolute;
	top: 32px;
	right: 7px;
}
#main_body .top .wrapper .lg-content{
	border: 1px solid #C4CED3;
	border-radius: 3px;
	width: 140px;
	background: #fff;
}
#main_body .top .wrapper .lg-content p{
	padding: 10px 0 0 15px;
}
#main_body .top .wrapper .lg-content .txt2{
	border-bottom: 1px solid #C4CED3;
	padding: 5px 10px 15px 15px !important;
	color: #2A66A8;
	font-size: 18px;
}
#main_body .top .wrapper .lg-content .txt3{
	padding: 10px 10px 15px 15px !important;
}
#main_body .top .wrapper .lg-content .txt3:hover{
	text-decoration: underline;
}
/*===========================================
HEADER
===========================================*/
#header{
	padding: 20px;
}
#header .left{
	color: #727a81;
	float: left;
	width: 350px;
	margin: 0 0 0 20px;
}
#header .left .title{
	font-size: 30px;
}
#header .right{
	float: right;
	width: 315px;
	margin: 15px 0 0 0;
}

#header .right ul li a{
	border: 1px solid #4c4b4b;
	width: 50px;
	padding: 7px 0;
	float: left;
	text-align: center;
	background: url(../img/upNav_bg.png) top left repeat;
}
#header .right ul li a:hover{
	background: #E4E4E4;
}
#header .right ul li.f1 a{
	border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
			-moz-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
			-moz-border-bottom-left-radius: 5px;
	border-right: none;
}
#header .right ul li.f2 a{
	border-right: none;
}
#header .right ul li.f3 a{
	border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
			-moz-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
			-moz-border-bottom-right-radius: 5px;
}
#header .right ul li i{
	color: #4c4b4b;
	font-size: 22px;
}
/*===========================================
CONENT LINE SEPARATOR
===========================================*/
.content_lineseparator{
	height: 9px;
	background: url(../img/body_line.png) top left repeat;
}

/*===========================================
INNER CONTENT
===========================================*/
.innerContent{
	sborder: 1px solid red;
	padding: 20px 20px 50px 40px;
	position: relative;
}
.innerContent table th,
.innerContent table td{
	color: #494949;
}
.innerContent table th{
	text-align: center;
	font-weight: bold;
}
.innerContent .no_result{
	text-align: center;
	padding: 15px 0;
	font-size: 17px;
	font-weight: bold;
}
.innerContent .txt{
	border-right: 1px solid #dcdada !important;
	text-align: right;
	background: #EBEBEB;
	vertical-align: top;
	width: 35% !important;
}
.innerContent .txt,
.innerContent .inputs{
	width: 70%;
	border: 1px solid #dcdada;
	border-left: none;
	border-right: none;
	padding: 15px 12px 15px 20px;
	font-size: 15px;
	position: relative;
}
.innerContent .inputs input[type="text"],
.innerContent .inputs input[type="file"],
.innerContent .inputs input[type="password"],
.innerContent .inputs select,
.innerContent .inputs textarea{
	border-radius: 3px;
	font-size: 15px;
}
.innerContent .inputs input[type="password"],
.innerContent .inputs input[type="text"]{
	border: 1px solid #dcdada;
	padding: 7px 10px;
	width: 300px;
}
.innerContent .inputs input[type="file"]{
	border: 1px solid #dcdada;
	padding: 5px 10px;
	background: #fff;
	width: 190px;
	font-size: 13px !important;
}
.innerContent .inputs textarea{
	border: 1px solid #dcdada;
	padding: 5px 10px;
	width: 350px;
	height: 200px;
	outline: none ;
}
.innerContent .inputs select{
	border: 1px solid #dcdada;
	padding: 6px 10px;
	width: 300px;
	background: #fff;
	outline: none !important;
	background: #fff url(../img/option_bg.png) 99% center no-repeat;
	
	-webkit-appearance: none;
		-moz-appearance: none;
			-ms-appearance: none;
				-o-appearance: none;
}
.innerContent .inputs .changeImg{
	position: absolute;
	margin: 0 auto;
	top: 15px;
}
.innerContent .inputs .imgChange{
	display: none;
}
.innerContent .inputs .changeImg i{
	font-size: 35px;
	display: none;
	position: relative;
}
.innerContent .button_wrapper{
	padding: 50px 0;
}
.innerContent .button_wrapper ul{	
	padding: 0 15px 0 0;
}
.innerContent .button_wrapper li{
	float: right;
	padding: 0 0 0 15px;
}
.innerContent .button_wrapper li input[type='submit']{
	border: 1px solid #024877;
	padding: 8px 25px;
	color: #fff;
	background: #345D79;
	
	border-radius: 3px;
		-webkit-border-radius: 3px;
			-ms-border-radius: 3px;
				-o-border-radius: 3px;
}
.innerContent .button_wrapper li input[type='submit']:hover{
	background: #4c81a5; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c81a5 0%, #345d79 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c81a5), color-stop(100%,#345d79)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c81a5 0%,#345d79 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c81a5 0%,#345d79 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c81a5 0%,#345d79 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c81a5 0%,#345d79 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c81a5', endColorstr='#345d79',GradientType=0 ); /* IE6-9 */
}
.innerContent .mrgtop50{
	margin: 50px 0 0  0;
}

.innerContent .border_top_off{
	border-top: none !important;
}
/*===========================================
ERROR CONTENT
===========================================*/
.error_wrap{
	font-size: 14px !important;	
	margin-bottom: 10px;
	background:  #fccac1;
	width: 325px;
	
	
	position: relative;
	left: 0;	
	top: 0;
	z-index: 1000;
	
	border-radius: 3px;
		-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
				-ms-border-radius: 3px;
					-o-border-radius: 3px;
	
	
}

.error_wrap p{
	background:url(../img/err.png) 0% 48% no-repeat ;
	background-size: 18px;
	padding: 8px 20px 8px 25px;
	margin-left: 8px;
}


/*===========================================
INNER CONTENT SUBNAVIGATION
===========================================*/
#content_subnavi{
	sborder: 1px solid red;
	margin: 20px 25px 20px 40px;
}
#content_subnavi li a{
	width: 150px;
	float: left;
	text-align: center;
	padding: 15px 0;
	color: #505050;
	border: 1px solid #838383;
	margin: 0 20px 0 0; 
	
	border-radius : 5px;
		-webkit-border-radius : 5px;
			-moz-border-radius : 5px;
				-ms-border-radius : 5px;
					-o-border-radius : 5px;
					
}
#content_subnavi li a:hover,
#content_subnavi li a:hover i{
	background:  #ECECEC;
}
#content_subnavi li.last{
	margin: 0 !important;
}
#content_subnavi li i{
	font-size: 50px;
	margin: 0 0 5px 0;
	color: #505050;
}
#content_subnavi li .txt{
	font-size: 15px;
	font-weight: bold;
}
/*===========================================
DELTE CONFIRMATION
===========================================*/
#delete_msg{
	sdisplay: none;
}
.ui-corner-all,
.ui-dialog .ui-dialog-buttonpane{
	background: url(../img/white_bg.jpg) top left repeat !important;
}
.ui-dialog .ui-dialog-buttonpane{
	padding: 0 !important;
}
.ui-widget-content{
	min-height:  0 !important;
	font-size: 15px;
}
.ui-draggable .ui-dialog-titlebar{
	background:	#5A6268 !important;
	color: #fff !Important;
	font-size: 16px;
}
.ui-widget-header .ui-icon{
	background-image: url(../img/ui-icons_ffffff_256x240.png) !important;
}
.ui-dialog-titlebar-close{
	background:	#5A6268 !important;
	border: 1px solid #5A6268 !important;
}
.ui-dialog-titlebar-close:hover{
	border: 1px solid #f2f2f2 !important;
	background:	#5A6268 !important;
	outline: none !important;
}
.ui-dialog-buttonset button{
	outline: none !important;
}
.ui-button-text-only .ui-button-text{
	padding: 0.3em 0.9em !important;
}
.ui-state-focus,
.ui-dialog-buttonset button:hover{
	background: #E9E9E9 !important;
}


/*===========================================
FOOTER
===========================================*/
#footer{
	border-top: 2px solid #DDDCDC;
	color: #323F4D;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 18px 0;
}